<li class="bookmark" data-url="{{URL}}" data-title="{{Title}}" data-tags="{{TagList}}" style="background-image: url('{{FaviconURL}}')">
	<a href="{{URL}}">{{Title}}</a>
		<div class="tags">
		[{{#Tags}}
			<a href="/?tags={{.}}" class="tag">{{.}}</a>
		{{/Tags}}]
		<a href="javascript:void();" class="edit submit">edit</a>
		<a href="/delete?url={{EscapedURL}}" class="delete submit">del</a>
		</div>
</li>
