{{>header}}

<form action="/create" method="post" id="create">
	<input type="text" name="url" class="url" placeholder="URL" />
	<input type="text" name="title" class="title" placeholder="Title" />
	<input type="text" name="tags" class="tags" placeholder="Tags" />
	<input type="submit" value="Bookmark!" />
</form>

{{>footer}}
