	<div id="footer">
		&laquo;
		<a href="http://github.com/xconstruct/bin-o-bookmarks">bin-o-bookmarks</a> |
		Licensed under GPLv3 |
		<a href="http://xconstruct.net">Constantin Schomburg</a>
		&raquo;
	</div>
	</div>
</body>
</html>
