{{>header}}

<form action="/create" method="post" id="create">
	<input type="text" name="url" class="url" placeholder="URL" />
	<input type="text" name="title" class="title" placeholder="Title" />
	<input type="text" name="tags" class="tags" placeholder="Tags" />
	<input type="submit" value="Bookmark!" />
</form>

<h2>{{title}}</h2>
<div id="bookmarks">
	<input type="text" id="filter_bookmarks" placeholder="Filter Bookmarks" />
	<ul>
	{{#bookmarks}}
		{{>_bookmark}}
	{{/bookmarks}}
	{{^bookmarks}}
		<li>No bookmarks yet!</li>
	{{/bookmarks}}
	</ul>
</div>

<div id="extras">
	Bookmarklets:
	<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='{{rootURL}}/bookmarklet?url='+encodeURIComponent(window.location.href)+'&title='+encodeURIComponent(document.title)+'&tags='+encodeURIComponent(prompt('Please enter tags for bookmark'));})();">Generic</a> |
	<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='{{rootURL}}/bookmarklet?url='+encodeURIComponent(window.location.href)+'&title='+encodeURIComponent(document.title)+'&tags={{tagString}}';})();">With these tags</a>
</div>

{{>footer}}
